@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #849d8f;
    background-position: top center;
    background-repeat: no-repeat;
}

fieldset{
    border: 0;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

.button{
    color: #ffffff;
    border: none;
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

a{
    color: inherit;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 1235px;
    padding: 0 2.3%;
    margin-right: auto;
    margin-left: auto;
}

/*header*/
.header-navigation-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.main-navigation{
    font-size: 16px;
    text-align: left;
    color: #ffffff;
}

.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.container-logo{
    height: 65px;
    margin-right: 24px;
}

.nav-wrapper{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-navigation-list{
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    min-width: 350px;
    max-width: 800px;
    margin: 0;
}

.catalog ul{
    display: none;
}

.catalog:hover ul{
    display: flex;
}

.main-navigation-item{
    padding-right: 28px;
    margin-bottom: 10px;
}

.main-navigation-item > a:hover{
    background-color: #d07058;
    padding: 6px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease-out 0s;
}

.main-navigation-item > a:active{
    background-color: #d07058;
    padding: 6px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.6);
}

.catalog-navigation-list{
    background-color: #f8f7f4;
    color: #323232;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    width: 145px;
    height: 170px;
    background-color: #f8f7f4;
    border-radius: 5px;
    position: absolute;
}

.catalog-navigation-list a{
    display: block;
    height: 100%;
    padding-left: 20px;
    padding-top: 7%;
    text-decoration: none;
}

.catalog-navigation-list li:hover{
    background-color:#fbded7;
}

.catalog-navigation-list li:active{
    background-color:#f6b5a5;
}

.catalog-navigation-list .catalog-navigation-new{
    color: #323232;
    font-weight: 700;
}

.catalog-navigation-item, .catalog-navigation-new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
}

.catalog-navigation-new::after{
    content: "";
    width: 128px;
    height: 1px;
    background-color: #323232;
    opacity: 0.2;
    position: absolute;
    left: 8px;
    top: 20%;
}

.nav-wrapper-row-user{
    position: relative;
}

.user-navigation-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0;
}

.user-navigation-item{
    position: relative;
    height: 33px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.user-navigation-button-search{
    display: inline-block;
    width: 33px;
    height: 33px;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(/img/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.user-navigation-button-search:hover{
    background-color: #f8f7f4;
    background-image: url(/img/search-hover.svg);
}

.user-navigation-button-search:hover div{
    display: flex;
}

.wrapper-search{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #f8f7f4;
    background-image: url(/img/mailing-background.png);
    width: 341px;
    height: 84px;
    border-radius: 5px;
    padding: 20px 15px;
    top: 40px;
    right: 87%;
    visibility: hidden;
    transition-delay: 1s;
    box-shadow: 0px 20px 20px 0 #0006;
}

.user-navigation-button-search:hover .wrapper-search{
    visibility: visible;
    transition-delay: 0s;
}

.user-navigation-input{
    border: solid 1px #d3d3d2;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
    color: #323232;
    font-family: "Roboto", Arial, sans-serif;;
    font-weight: 700;
    padding: 15px;
}

.user-navigation-input{
    width: 244px;
    height: 41px;
}

.input-search{
    width: 311px;
    height: 44px;
}

.user-navigation-input:hover{
    outline: none;
    border: solid 2px #2e88e485;
}

.user-navigation-input:focus{
    outline: none;
    border: solid 2px #2e88e485;
}

.user-navigation-input::-webkit-input-placeholder{
    color: #999999;
    font-weight: 400;
}

.user-navigation-input::-ms-input-placeholder{
    color: #999999;
    font-weight: 400;
}

.user-navigation-input::-moz-placeholder{
    color: #999999;
    font-weight: 400;
}

.user-navigation-input::-webkit-input-placeholder{
    color: #999999;
    font-weight: 400;
}

.user-navigation-input::-webkit-input-placeholder{
    color: #999999;
    font-weight: 400;
}

.user-navigation-input:focus::-webkit-input-placeholder{
    transition: all 0.6s linear 0s;
    font-weight: 400;
    color: transparent;
}

.user-navigation-input:focus::-moz-placeholder{
    transition: all 0.6s linear 0s;
    font-weight: 400;
    color: transparent
}
  
.user-navigation-input:focus:-ms-input-placeholder{
    transition: all 0.6s linear 0s;
    font-weight: 400;
    color: transparent
}

.user-navigation-button-join{
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding: 10px 18px 0px 0px;
    text-align: right;
    min-width: 92px;
    min-height: 34px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.user-navigation-button-join::before{
    content: "";
    width: 21px;
    height: 19px;
    position: absolute;
    left: 15px;
    top: 7px;
    overflow: hidden;
    background-image: url(/img/join.svg);
}

.user-navigation-button-join:hover{
    color: #323232;
    background-color: #f8f7f4;
}

.user-navigation-button-join:hover::before{
    content: "";
    width: 21px;
    height: 19px;
    position: absolute;
    left: 15px;
    top: 7px;
    overflow: hidden;
    background-image: url(/img/join-hover.svg);
    background-repeat: no-repeat;
    color: #323232;
}

.wrapper-personal-account{
    background-color: #f8f7f4;
    background-image: url(/img/mailing-background.png);
    visibility: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 280px;
    height: 215px;
    border-radius: 10px;
    padding: 20px 17px 22px 19px;
    top: 40px;
    right: 0;
    box-shadow: 0px 20px 20px 0 #0006;
    transition-delay: 1s;
    z-index: 1;
}

.user-navigation-button-join:hover .wrapper-personal-account{
    visibility: visible;
    transition-delay: 0s;
    z-index: 1;
}

.personal-link-row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0px;
}

.personal-link-row a{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;
}

.personal-link-row a:hover{
    color: #e84d37;
}

.personal-account-column{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.button-personal-account{
    display: inline-flex;
    box-shadow: 0px 1px 2px 0 #ac1000;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 60px / 80px;
    color: #fefefe;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 10px 25px;
}

.button-personal-account:hover{
    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: linear-gradient(to bottom, #ffffff33, #ffffff33), linear-gradient(to top, #e74a35, #f26843);
}

.button-personal-account:active{
    color: #fceeec;
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, #00000011, #00000011), linear-gradient(to top, #e74a35, #f26843);
}

.user-navigation-button-basket{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding: 0px 18px 0px 0px;
    text-align: right;
    min-width: 100px;
    min-height: 34px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.user-navigation-void-div{
    margin-right: 20px;
    width: 21px;
    height: 20px;
}

.user-navigation-button-basket:hover{
    color: #323232 !important;
    background-color: #f8f7f4 !important;
}

.ice_in_basket_icon{
    position: absolute;
    overflow: hidden;
    width: 21px;
    height: 20px;
    background-image: url(/img/basket-hover.svg);
    left: 15px;
    top: 7px;
}

.user-navigation-button-basket::before{
    content: "";
    position: absolute;
    overflow: hidden;
    width: 21px;
    height: 20px;
    background-image: url(/img/basket.svg);
    left: 15px;
    top: 7px;
}

.user-navigation-button-basket:hover::before{
    content: "";
    position: absolute;
    overflow: hidden;
    width: 21px;
    height: 20px;
    background-image: url(/img/basket-hover.svg);
    left: 15px;
    top: 7px;
}  

.wrapper-basket{
    background-color:#f8f7f4;
    background-image: url(/img/mailing-background.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0;
    width: 540px;
    height: 240px;
    border-radius: 5px;
    visibility: hidden;
    display: flex;
    flex-direction:column;
    position: absolute;
    right: 0;
    top: 40px;
    transition-delay: 1s;
    box-shadow: 0px 20px 20px 0 #0006;
    padding-bottom: 10px;
    z-index: 1;
}

.user-navigation-button-basket:hover .wrapper-basket{
    visibility: visible;
    transition-delay: 0s;
    z-index: 1;
}

.basket_list::after{
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    top: 150px;
    width: 94%;
    height: 1px;
    background-color: #cacac7;
}

.basket-column :last-child{
    text-align: right;
}

.basket_list{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 60%;
    max-height: 60%;
    overflow-y: auto;
    padding-top: 10px;
}

.basket_img{
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
    width: 33px;
    height: 33px;
}

.basket-img1{
    background-image: url(/img/1.webp);
}

.basket-img2{
    background-image: url(/img/2.webp);;
}

.basket-img3{
    background-image: url(/img/3.webp);
}

.basket-img4{
    background-image: url(/img/4.webp);
}

.basket-img5{
    background-image: url(/img/21.webp);
}

.basket-img6{
    background-image: url(/img/22.webp);
}

.basket-img7{
    background-image: url(/img/23.webp);
}

.basket-img8{
    background-image: url(/img/24.webp);
}

.basket-img9{
    background-image: url(/img/31.webp);
}

.basket-img10{
    background-image: url(/img/32.webp);
}

.basket-img11{
    background-image: url(/img/33.webp);
}

.basket-img12{
    background-image: url(/img/34.webp);
}

.no_product_in_basket{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.inner{
    font-size: 30px;
    opacity: 0.2;
}

.basket-item{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}

.button-basket{
    position: relative;
    width: 15px;
    height: 15px;
    background-color:#f8f7f4;
}

.button-basket::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: #000000;
    transform: rotate(45deg);
    left: -5px;
}

.button-basket::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: #000000;
    transform: rotate(-45deg);
    left: -5px;
}

.button-basket:hover::before, .button-basket:hover::after{
    background-color:#1adbd1;
}

.basket-item-row{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.basket-item-row-text{
    width: 50%;
    text-align: left;
}

.basket-item-row-price{
    width: 20%;
}

.basket-item-row-sum{
    width: 17%;
}

.basket-column{
    height: 40%;
    padding-right: 15px;
    margin-top: 15px;
    padding-bottom: 20px;
}

.basket-sum{
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color:#323232;
    margin-top: 0px;
}

.basket-item-text {
    color: #999999;
}

.button-basket-order{
    box-shadow: 0px 1px 2px 0 #ac1000;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 70px / 80px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.button-basket-order:hover{
    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: linear-gradient(to bottom, #ffffff33, #ffffff33), linear-gradient(to top, #e74a35, #f26843);
}

.button-basket-order:active{
    color: #fceeec;
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, #00000011, #00000011), linear-gradient(to top, #e74a35, #f26843);
}
.user-navigation-list :last-child{
    margin-right: 0px;
}

.header-navigation-column-about{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.header-work-time {
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 1px;
    padding-right: 2px;
}

.header-phone-number{
    text-align: right;
    font-size: 22px;
    line-height: 24px;
    margin-top: 1px;
}
/*header*/

/*main*/
.wrapper-breads{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.breads_list_catalog{
    display:flex;
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.breads_list_catalog li:not(:last-child)::after{
    content:"»";
    padding: 0 4px;
}

.breads_item a:hover{
    color: #ffbc9e;
}

.wrapper-sort{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wrapper_sorting_form_row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper_sorting_form_row > fieldset:not(:last-child){
    margin-right: 15px;
}

.wrapper_sorting_section{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border-radius: 20px;
}

.wrapper_sorting_list{
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 1;
}
  
.selected_sorting, .sorting-item{
    position: relative;
    width: 194px;
    height: 37px;
    padding: 10px 0 0 15px;
    border-radius: 25px;
}

.sorting-item:active{
    box-shadow: inset 1px 1px 1px 1px #000000;
}

.selected_sorting{
    transition-property: all;
    transition-duration: .9s;
}

.selected_sorting{
    color: #ffffff;
}

.sorting-item, .selected_sorting:hover{
    color: #000000;
    background-color: #ffffff;
}

.selected_sorting:hover, .sorting-item:hover{
    color: #000000;
    cursor: pointer;
}

.sorting-item:hover{
    background-color: #eaeaea;
}

.sorting-item:hover label{
    cursor: pointer;
}

.selected_sorting::after{
    content:"";
    position: absolute;
    width: 11px;
    height: 10px;
    top: 15px;
    left: 170px;
    background-image: url(/img/icon-down-dir.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.selected_sorting:hover::after{
    background-image: url(/img/icon-down-dir_black.svg);
    cursor: pointer;
}

.sorting-list{
    margin-left: -15px;
    margin-top: 9px;
    padding: 0;
}

.selected_sorting ul{
    display: none;
}

.selected_sorting_bl{
    display: flex !important;
    flex-direction: column;
}

.sorting-item {
    z-index: 1;
}

.sorting-item > label{
    position: relative;
    display:block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    width: 194px;
    height: 37px;
    border-radius: 25px;
}

.price-sorting .wrapper_sorting_price{
    width: 220px;
    height: 37px;
    margin: 6px 0 0;
    padding: 9px 22px 6px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.range_price{
    position: relative;
    width: 176px;
    height: 4px;
    margin: 10px 0 10px 0;
    background-color: rgba(248, 247, 244, 0.5);
}

.range_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    background-image: url(/img/range_button_.svg);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.range_btn:hover{
    width: 20px;
    height: 22px;
    box-shadow: 0 0 12px 0 royalblue;
}

.range_between{
    position:absolute;
    height: 4px;
    width: 0;
    border: 0;
    background-color: #ffffff;
}

.fat-content-sorting-list{
    display: flex;
    justify-content: space-between;
    width: 415px;
    height: 37px;
    margin: 6px 0 0;
    padding: 10px 17px 7px 4px;
}

.fat-content-sorting-item{
    position: relative;
    margin-left: 40px;
}

.radio_check{
    position: absolute;
    top:-2px;
    left: -31px;
    width: 22px;
    height: 22px;
    background-image: url(/img/radio-fat-off.png);
    opacity: 0.8;
    border-radius: 25px;
}

.radio_check:hover{
    opacity:1;
    cursor: pointer;
}

.fat-content-sorting-item input[type="radio"]:checked + .radio_check{
    background-image: url(/img/radio-fat-on.png);
}

.fat-content-sorting-item input[type="radio"]:disabled + .radio_check{
    opacity: 0.4;
}

.fillers-sorting-list{
    display: flex;
    justify-content: space-between;
    width: 703px;
    height: 37px;
    margin: 5px 0 0;
    padding: 9px 20px 8px 50px;
}

.fillers-sorting-item{
    position: relative;
}

.chekcbox_check{
    position: absolute;
    width: 25px;
    height: 25px;
    top: -1px;
    left: -30px;
    background-image: url(/img/checkbox-fillers-off.png);
    background-repeat: no-repeat;
    opacity: 0.8;
}

.chekcbox_check:hover{
    opacity: 1;
    cursor: pointer;
}

.fillers-sorting-item input[type="checkbox"]:checked + .chekcbox_check{
    background-image: url(/img/checkbox-fillers-on.png);
}

.fillers-sorting-item input[type="checkbox"]:disabled + .chekcbox_check{
    opacity: 0.4;
}

.submit-sorting{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    width: 144px;
    height: 37px;
    margin: 23px 0 0 13px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 2px #ffffff;
}

.submit-sorting:hover{
    background-color: #ffffff;
    cursor: pointer;
    color:#000000;
}

.submit-sorting:active{
    background-color: #eaeaea;
    cursor: pointer;
    color:#000000;
    box-shadow: inset 1px 2px 0 0 #cccccc;
    border: none;
}

.wrapper-assortment{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.assortment a{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
}

.assortment .price{
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #ffffff;
}

.price > .weight{
    font-size: 30px;
    line-height: 45px;
}

.wrapper-assortment > li{
    position: relative;
    margin-bottom: 40px;
}

.wrapper-assortment figure{
    margin: 0;
    padding: 0;
}

.price{
    position: absolute;
    top: 210px;
    left: 5px;
    margin: 0;
    padding: 0;
}

.wrapper-assortment > li:hover{
    cursor: pointer;
}

.wrapper-assortment > li:hover{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 293px;
    height: 400px;
    padding-top: 5px;
    cursor: pointer;
    border-radius: 25px;
}

.ice_item > figcaption{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.about_ice > a:hover{
    color:#ffbc9e;
}

.button_add_box{
    display: none;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    width: 200px;
    height: 44px;
    border-radius: 20px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    border: none;
    margin-top: 10px;
    margin-left: 32px;
}

.button_add_box:hover{
    background-image: linear-gradient(to bottom, #fff3, #fff3), linear-gradient(to top, #e74a35, #f26843);
    cursor: pointer; 
}

.button_add_box:active{
    cursor: pointer;
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, #0001, #0001), linear-gradient(to top, #e74a35, #f26843);
}

.wrapper-assortment > li:hover .button_add_box{
    display: block;
}

.pagination-list{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.pagination-list::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 60px;
    background-color:  rgba(255, 255, 255, 0.2);
}

.pag_btn{
    display: none;
}

input[id="prev_page"]:disabled +.prev_indicator .prev_icon path{
    opacity: 0.3;
}

input[id="next_page"]:disabled +.prev_indicator .prev_icon path{
    opacity: 0.3;
}

.prev_indicator, .page_indicator{
    margin-right: 15px;
}

.prev_indicator, .page_indicator, .next_indicator{
    border-radius: 25px;
    border: none;
    width: 26px;
    height: 27px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.0);
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
}

.prev_indicator:hover, .page_indicator:hover, .next_indicator:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.prev_indicator:active, .page_indicator:active, .next_indicator:active{
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.next_indicator:active .next_icon path{
    fill: #000000;
}

.prev_indicator:active .prev_icon path{
    fill: #000000;
}

.pagination-list input[name="number_of_page"]:checked + .page_indicator{
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
/*main*/

/*footer*/
.wrapper-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 65px;
    align-items: center;
}

.social-network-list{
    display: flex;
    min-width: 185px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.social-network-item{
    background-image: url(/img/circle.svg);
    width: 38px;
    height: 38px;
}

.social-network-list a{
    display: inline-flex;
    width: 38px;
    height: 38px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.social-network-list a:hover{
    opacity: 1;
}

.social-network-list a:active path{
    opacity: 0.8;
    fill: #e9e9e9;
}

.footer-about-us-wrapper-list{
    display: flex;
}

.footer-about-us-wrapper-list :first-child{
    margin-right: 10px;
}

.about-us-list, .footer-document-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.about-us-list a, .footer-document-list a{
    display: inline-flex;
    position: relative;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.footer-document-list :first-child a{
    font-weight: 700;
}

.footer-document-list :first-child a::before{
    content: "";
    background-image: url(/img/heart.svg);
    width: 15px;
    height: 13px;
    position: absolute;
    left: -20px;
    top: 3px;
}

.copyright{
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    color: #fefefe;
    font-weight: 400;
    margin-top: 0px;
}

.footer a:hover{
    color: #ffbc9e;
}
/*footer*/ 