@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;

    background-color: #849d8f;
    background-position: top center;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.button {
    color: #ffffff;
    background-color:chocolate;/*удалить потом*/
}

.a {
    color: inherit;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*header*/
.logo {
    width: 154px;
    height: 64px;
    margin: 0 24px 2px 0;
}

.main-navigation {
    font-size: 16px;
    text-align: left;
    color: #ffffff;
}

.main-navigation a{
    color: inherit;
}

.catalog-navigation-list{
    background-color: #f8f7f4;

    color: #323232;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.catalog-navigation-list a{
    text-decoration: none;
}

.catalog-navigation-list .catalog-navigation-new{
    font-weight: 700;
}

.user-navigation-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.header-work-time {
    text-align: right;
    font-size: 14px;
    line-height: 16px;
}

.header-phone-number{
    text-align: right;
    font-size: 22px;
    line-height: 24px;
}
/*header*/

/*main*/
.path a{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
}

.sorting-list li{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
}

.sorting-form legend{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
}

.fat-content-sorting-list li, .fillers-sorting-list li{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
}

.submit-sorting{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
}

.assortment a{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
}

.assortment .price{
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #ffffff;
}

.assortiment .weight{
    font-size: 30px;
    line-height: 45px;
}

.pagination-list{
    text-align: right;
}

.pagination-list li{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
}
/*main*/

/*footer*/
.about-us-list a{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}
.about-us-list:first-child a{
    font-weight: 700;
}

.copyright{
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    color: #fefefe;
    font-weight: 400;
}
/*footer*/

/*hidden windows*/
.personal-account {
    background-color:floralwhite;
    background-image: url(/img/mailing-background.png);
}

.personal-account a{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;
}

.basket {
    background-color:darksalmon;
    background-image: url(/img/mailing-background.png);
}

.basket-list {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
}

.basket-item-text {
    color: #999999;
}

.basket-sum{
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color:#323232;
}

.search {
    background-color:darksalmon;
    background-image: url(/img/mailing-background.png);
}
/*hidden windows*/