.first{
    text-align: center;
    color:blueviolet;
}

.head {
    background-color: chocolate;
}

.main{
    background-color: darkcyan;
}

.footer{
    background-color: rgb(0, 139, 23);
}

.lk {
    background-color: cornsilk;
}

.box{
    background-color: #f12;
}