@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;

    background-color: #849d8f;
    background-image: url(/img/general-background-1.png);
    background-position: top center;
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.button {
    color: #ffffff;
    background-color:chocolate;/*удалить потом*/
    border-radius: 5px;
}

a {
    color: inherit;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*text*/
/*header*/
.logo {
    width: 154px;
    height: 64px;
    margin: 0 24px 2px 0;
}

.main-navigation {
    font-size: 16px;
    text-align: left;
    color: #ffffff;
}

.catalog-navigation-list{
    background-color: #f8f7f4;

    color: #323232;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.catalog-navigation-list .catalog-navigation-new{
    font-weight: 700;
}

.user-navigation-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.header-work-time {
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 1px;
    padding-right: 2px;
}

.header-phone-number{
    text-align: right;
    font-size: 22px;
    line-height: 24px;
    margin-top: 1px;
}
/*header*/

/*main*/
.advertising-ice-cream{
    font-size: 60px;
    line-height: 60.5px;
    text-align:center;
}

.advertising-button{
    font-size: 32px;
    text-align: center;
    line-height: 44px;
}

.raspberry{
    background-color: brown;
    background-image: url(/img/raspberry-background.webp);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.raspberry a{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.raspberry-title {
    font-size: 35px;
    line-height: 41px;
}

.raspberry-text {
    font-size: 18px;
    line-height: 22px;
}

.chocolate{
    background-color:chocolate;
    background-image: url(/img/chocolate-background.webp);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.chocolate a{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.chocolate-title {
    font-size: 35px;
    line-height: 41px;
}

.chocolate-text {
    font-size: 18px;
    line-height: 22px;
}

.assortment-item a{
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
}

.assortment-item-weight {
    font-size: 45px;
    line-height: 45px;
}

.assortment-item-kilograms{
    font-size: 30px;
    line-height: 45px;
}

.advantages{
    background-color: burlywood;
    background-image: url(/img/waffle-background.webp);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.advantages-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
}

.advantages-list li{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
}

.blog-new {
    background-color: cornsilk;
    background-image: url(/img/strawberry-background.webp);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.blog-new-title {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    font-weight: 500;
}

.blog-new a{
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}

.mailing {
    background-color: cornsilk;
    background-image: url(/img/mailing-background.png);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.mailing-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #5a5a5a;
}

.address {
    background-color:darkolivegreen;
    background-image: url(/img/map-background.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.address-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #323232;
}

.address-text-bold {
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    font-weight: 700;
}

.address-block {
    background-color:rgb(245, 239, 237);
    background-image: url(/img/mailing-background.png);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.address-phone {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #323232;
}

.address-phone-bold {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #323232;
}
/*main*/

/*footer*/
.about-us-list a{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}
.about-us-list:first-child a{
    font-weight: 700;
}

.copyright{
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    color: #fefefe;
    font-weight: 400;
}
/*footer*/

/*hidden windows*/

.personal-account a{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;
}

.basket-list {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
}

.basket-item-text {
    color: #999999;
}

.basket-sum{
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color:#323232;
}

.feedback-text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
}
/*hidden windows*/
/*text*/

/*flex*/
.content{
    display: flex;
    flex-direction: column;
    max-width: 1147px;
    margin-right: auto;
    margin-left: auto;
}

/*header*/
.header-navigation-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 215px;
    margin-top: 10px;
}
.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.container-logo{
    height: 65px;
    margin-right: 24px;
}

.nav-wrapper{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-navigation-list{
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    max-width: 800px;
    margin: 0;
}

.main-navigation-item{
    padding-right: 28px;
    padding-bottom: 10px;
}

.user-navigation-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0;

}

.catalog-navigation-list{
    display: flex;
    flex-direction: column;
    width: 145px;
    height: 170px;
    background-color: #f8f7f4;
    border-radius: 5px;
    position: absolute;
}

.catalog-navigation-list a{
    display: block;
    height: 100%;
    padding-left: 20px;
    padding-top: 7%;
    text-decoration: none;
}

.catalog-navigation-list li:hover{
    background-color:#fbded7;
}

.catalog-navigation-list li:active{
    background-color:#f6b5a5;
}

.catalog-navigation-item, .catalog-navigation-new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
}
/*header*/

/*main*/
.wrapper-advertising{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 41px;
}

.advertising-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: baseline;
}

.ice{
    margin-bottom: 29px;
}

.ice p{
    margin: 0;
    margin-top: 61px;
    margin-right: 2px;
}

.advertising-button{
    width: 280px;
    height: 64px;
    border-radius: 30px;
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    padding-left: 2px;
    text-shadow: 0px 2px 5px #a0200bc2;
}

.advertising-button {
    background-image: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.advertising-button:hover{
    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: linear-gradient(to bottom, #ffffff33, #ffffff33), linear-gradient(to top, #e74a35, #f26843);
}

.advertising-button:active{
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, #00000011, #00000011), linear-gradient(to top, #e74a35, #f26843);
}

.button-advertising-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.button-slider{
    position: absolute;
    background-color: #ffffff;
    border-radius: 15px;
    top: 21px;
    width: 21px;
    height: 21px;
}

.button-slider:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.button-slider:active{
    background-color: rgba(255, 255, 255, 1);
}

.button-slider1{
    background-image: url(/img/fon-button.svg);
}

.button-slider2{
    background-color: rgba(255, 255, 255, 0.0);
    background-image: url(/img/fon-button.svg);
    left: 28px;
}

.button-slider3{
    background-color: rgba(255, 255, 255, 0.0);
    background-image: url(/img/fon-button.svg);
    left: 57px;
}

.wrapper-gifts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gifts-row{
    width: 563px;
    height: 230px;
}

.gifts-title{
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 20px;
}

.gifts-text{
    margin-top: 0;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
}

.gifts-link{
    text-align: right;
    padding-right: 20px;
    margin-bottom: 20px;
}

.wrapper-assortiment{
    width: 100%;
    min-height: 322px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.wrapper-advantages{
    width: 100%;
    min-height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 40px;
}

.advantages-list{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.advantages-title{
    padding-left: 21px;
}

.advantages-list li{
    padding-bottom: 20px;
}

.wrapper-useful{
    width: 100%;
    min-height: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.useful-row{
    width: 560px;
    min-height: 220px;
}

.mailing-text, .blog-new-title{
    padding-left: 20px;
    padding-top: 30px;
}

.blog-new-link{
    padding-left: 20px;
    padding-bottom: 85px;
}

.mailing-text{
    padding-bottom: 40px;
}

.form-mailing{
    padding-left: 20px;
    padding-bottom: 67px;
}

.address {
    width: 1250px;
    height: 430px;
    background-position: center;
    margin-bottom: 20px;
}

.wrapper-address{
    display: flex;
    justify-content: flex-end;
}

.address-block{
    margin-top: 65px;
    margin-right: 55px;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 25px;
}
/*main*/

/*footer*/
.wrapper-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.social-network-list{
    display: flex;
    width: 185px;
    justify-content: space-between;
}

.about-us-list{
    display: flex;
    width: 330px;
    flex-wrap: wrap;
}

.about-us-list-column1{
    padding-right: 30px;
}

.copyright{
    margin-top: 0px;
}
/*footer*/

/*hidden windows*/
.wrapper-personal-account{
    background-color: #f8f7f4;
    background-image: url(/img/mailing-background.png);
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 215px;
    border-radius: 10px;
    padding: 20px 17px 22px 19px;
}

.wrapper-personal-account-column{
    display: flex;
}

.button-personal-account{
    height: 45px;
    width: 100px;
    margin-right: 20px;
}

.personal-link-row{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.wrapper-basket{
    background-color:#f8f7f4;
    background-image: url(/img/mailing-background.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0;
    width: 540px;
    height: 240px;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
}

.basket-column:last-child{
    text-align: right;
}

.basket-list{
    display: flex;
    flex-wrap: wrap;
    height: 60%;
}

.basket-img1{
    background-image: url(/img/1.webp);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
    width: 33px;
    height: 33px;
}

.basket-img2{
    background-image: url(/img/3.webp);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
    width: 33px;
    height: 33px;
}

.basket-item{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}

.button-basket{
    position: absolute;
    left: 15px;
    width: 12px;
    height: 12px;
}

.basket-item-row{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.basket-item-row-text{
    width: 50%;
}

.basket-item-row-price{
    width: 20%;
}

.basket-item-row-sum{
    width: 17%;
}

.basket-column{
    height: 40%;
    padding-right: 15px;
    margin-top: 15px;
}

.basket-sum{
    margin-top: 0px;
}

.wrapper-search{
    background-color: #f8f7f4;
    background-image: url(/img/mailing-background.png);
    width: 340px;
    height: 85px;
    display: flex;
    border-radius: 5px;
    padding: 15px 20px;
}

.wrapper-feedback{
    background-color: #f8f7f4;
    background-image: url(/img/mailing-background.png);
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 440px;
    border-radius: 5px;
    padding: 25px;
}

.user-name-feedback, .user-email-feedback{
    width: 240px;
    height: 45px;
    border: solid 1px #d3d3d2;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 18px;
    color: #999999;
    padding: 15px;
}

.feedback-about-user{
    width: 428px;
    height: 155px;
    border: solid 1px #b2b2b285;
    padding: 15px;
    border-radius: 5px;
}

.feedback-button{
    text-align: right;
}
/*hidden windows*/
/*flex*/

/*decor*/

/*header*/
.main-navigation-item a:hover{
    background-color: #f7f6f3;
    padding: 6px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #323232;
}

.main-navigation-item a:active{
    background-color: #f7f6f3;
    padding: 6px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #323232;
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.6);
}

.button{
    border: none;
    cursor: pointer;
}
  
.user-navigation-item{
    height: 33px;
    margin-right: 10px;
    margin-bottom: 10px;
}



.user-navigation-button-search{
    display: inline-block;
    width: 33px;
    height: 33px;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(/img/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.user-navigation-button-search:hover{
    background-color: #f8f7f4;
    background-image: url(/img/search-hover.svg);
}

.user-navigation-button-join{
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding: 0px 18px 0px 0px;
    text-align: right;
    min-width: 92px;
    min-height: 34px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.user-navigation-button-join::before{
    content: "";
    width: 21px;
    height: 19px;
    position: absolute;
    left: 15px;
    top: 7px;
    overflow: hidden;
    background-image: url(/img/join.svg);
}

.user-navigation-button-join:hover{
    color: #323232;
    background-color: #f8f7f4;
}

.user-navigation-button-join:hover::before{
    content: "";
    width: 21px;
    height: 19px;
    position: absolute;
    left: 15px;
    top: 7px;
    overflow: hidden;
    background-image: url(/img/join-hover.svg);
    background-repeat: no-repeat;
    color: #323232;
}

.user-navigation-button-basket{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;

    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding: 0px 18px 0px 0px;
    text-align: right;
    min-width: 100px;
    min-height: 34px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.user-navigation-void-div{
    margin-right: 20px;
    width: 21px;
    height: 20px;
}

.user-navigation-button-basket .text-full-basket{
    display: none;
}

.user-navigation-button-basket:hover{
    color: #323232;
    background-color: #f8f7f4;
}

.user-navigation-button-basket:hover .text-void-basket{
    display: none;
}

.user-navigation-button-basket:hover .text-full-basket{
    display: inline;
}

.user-navigation-button-basket::before{
    content: "";
    position: absolute;
    overflow: hidden;
    width: 21px;
    height: 20px;
    background-image: url(/img/basket.svg);
    left: 15px;
    top: 7px;
}

.user-navigation-button-basket:hover::before{
    background-image: url(/img/basket-hover.svg);
}

.user-navigation-list :last-child{
    margin-right: 0px;
}

.header-navigation-column-about{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.column-advertising{
    position: relative;
}