@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;

    background-color: #849d8f;
    background-image: url(/img/general-background-1.png);
    background-position: top center;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.button {
    color: #ffffff;
    background-color:chocolate;/*удалить потом*/
    border-radius: 5px;
}

.a {
    color: inherit;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*text*/
/*header*/
.logo {
    width: 154px;
    height: 64px;
    margin: 0 24px 2px 0;
}

.main-navigation {
    font-size: 16px;
    text-align: left;
    color: #ffffff;
}

.main-navigation a{
    color: inherit;
}

.catalog-navigation-list{
    background-color: #f8f7f4;

    color: #323232;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.catalog-navigation-list a{
    text-decoration: none;
}

.catalog-navigation-list .catalog-navigation-new{
    font-weight: 700;
}

.user-navigation-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.header-work-time {
    text-align: right;
    font-size: 14px;
    line-height: 16px;
}

.header-phone-number{
    text-align: right;
    font-size: 22px;
    line-height: 24px;
}
/*header*/

/*main*/
.advertising-ice-cream{
    font-size: 60px;
    line-height: 60.5px;
    text-align:center;
}

.advertising-button{
    font-size: 32px;
    text-align: center;
    line-height: 44px;
}

.raspberry{
    background-color: brown;
    background-image: url(/img/raspberry-background.webp);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.raspberry a{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.raspberry-title {
    font-size: 35px;
    line-height: 41px;
}

.raspberry-text {
    font-size: 18px;
    line-height: 22px;
}

.chocolate{
    background-color:chocolate;
    background-image: url(/img/chocolate-background.webp);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.chocolate a{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.chocolate-title {
    font-size: 35px;
    line-height: 41px;
}

.chocolate-text {
    font-size: 18px;
    line-height: 22px;
}

.assortment-item a{
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
}

.assortment-item-weight {
    font-size: 45px;
    line-height: 45px;
}

.assortment-item-kilograms{
    font-size: 30px;
    line-height: 45px;
}

.advantages{
    background-color: burlywood;
    background-image: url(/img/waffle-background.webp);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.advantages-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
}

.advantages-list li{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
}

.blog-new {
    background-color: cornsilk;
    background-image: url(/img/strawberry-background.webp);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.blog-new-title {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    font-weight: 500;
}

.blog-new a{
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}

.mailing {
    background-color: cornsilk;
    background-image: url(/img/mailing-background.png);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.mailing-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #5a5a5a;
}

.address {
    background-color:darkolivegreen;
    background-image: url(/img/map-background.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.address-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #323232;
}

.address-text-bold {
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    font-weight: 700;
}

.address-block {
    background-color:rgb(245, 239, 237);
    background-image: url(/img/mailing-background.png);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
}

.address-phone {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #323232;
}

.address-phone-bold {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #323232;
}
/*main*/

/*footer*/
.about-us-list a{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}
.about-us-list:first-child a{
    font-weight: 700;
}

.copyright{
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    color: #fefefe;
    font-weight: 400;
}
/*footer*/

/*hidden windows*/

.personal-account a{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;
}

.basket-list {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
}

.basket-item-text {
    color: #999999;
}

.basket-sum{
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color:#323232;
}

.feedback-text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
}
/*hidden windows*/
/*text*/

/*flex*/
.content{
    display: flex;
    flex-direction: column;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
}

/*header*/
.header-navigation-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 284px;
}
.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container-logo{
    margin-right: 24px;
}

.nav-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.main-navigation-list{
    display: flex;
    width: 348px;
    justify-content: space-between;
}

.user-navigation-list{
    display: flex;
    width: 185px;
    justify-content: space-between;
}
/*header*/

/*main*/
.wrapper-advertising{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.advertising-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: baseline;
}

.advertising-button{
    width: 263px;
    height: 64px;
}

.button-advertising-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.fon-slider{
    position: absolute;
}

.wrapper-gifts{
    min-height: 230px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gifts-row{
    width: 560px;
    min-height: 230px;
}

.gifts-title{
    padding-top: 23px;
    padding-left: 20px;
}

.gifts-text{
    padding-left: 20px;
    padding-bottom: 0;
}

.gifts-link{
    text-align: right;
}

.wrapper-assortiment{
    width: 100%;
    min-height: 322px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.wrapper-advantages{
    width: 100%;
    min-height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 40px;
}

.advantages-list{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.advantages-title{
    padding-left: 21px;
}

.advantages-list li{
    padding-bottom: 20px;
}

.wrapper-useful{
    width: 100%;
    min-height: 220px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.useful-row{
    width: 560px;
    min-height: 220px;
}

.mailing-text, .blog-new-title{
    padding-left: 20px;
    padding-top: 30px;
}

.blog-new-link{
    padding-left: 20px;
    padding-bottom: 85px;
}

.mailing-text{
    padding-bottom: 40px;
}

.form-mailing{
    padding-left: 20px;
    padding-bottom: 67px;
}

.address {
    width: 1250px;
    height: 430px;
    background-position: center;
    margin-bottom: 20px;
}

.wrapper-address{
    display: flex;
    justify-content: flex-end;
}

.address-block{
    margin-top: 65px;
    margin-right: 55px;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 25px;
}
/*main*/

/*footer*/
.wrapper-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.social-network-list{
    display: flex;
    width: 185px;
    justify-content: space-between;
}

.about-us-list{
    display: flex;
    width: 330px;
    flex-wrap: wrap;
}

.about-us-list-column1{
    padding-right: 30px;
}

.copyright{
    margin-top: 0px;
}
/*footer*/

/*hidden windows*/
.wrapper-personal-account{
    background-color: #f8f7f4;
    background-image: url(/img/mailing-background.png);
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 215px;
    border-radius: 10px;
    padding: 20px 17px 22px 19px;
}

.wrapper-personal-account-column{
    display: flex;
}

.button-personal-account{
    height: 45px;
    width: 100px;
    margin-right: 20px;
}

.personal-link-row{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.wrapper-basket{
    background-color:#f8f7f4;
    background-image: url(/img/mailing-background.png);
    width: 540px;
    height: 240px;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
}

.basket-column:last-child{
    text-align: right;
}

.basket-list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.basket-item{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 30px;
}

.button-basket{
    position: absolute;
    width: 12px;
    height: 12px;
}

.basket-item-row{
    padding-bottom: 40px;
}

.basket-column{
    padding-right: 15px;
    padding-bottom: 15px;
}

.wrapper-search{
    background-color: #f8f7f4;
    background-image: url(/img/mailing-background.png);
    width: 340px;
    height: 85px;
    display: flex;
    border-radius: 5px;
    padding: 15px 20px;
}

.wrapper-feedback{
    background-color: #f8f7f4;
    background-image: url(/img/mailing-background.png);
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 440px;
    border-radius: 5px;
    padding: 25px;
}

.user-name-feedback, .user-email-feedback{
    width: 240px;
    height: 45px;
    border: solid 1px #d3d3d2;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 18px;
    color: #999999;
    padding: 15px;
}

.feedback-about-user{
    width: 428px;
    height: 155px;
    border: solid 1px #b2b2b285;
    padding: 15px;
    border-radius: 5px;
}

.feedback-button{
    text-align: right;
}

.catalog-navigation-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 145px;
    height: 170px;
    background-color: #f8f7f4;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
}
/*hidden windows*/
/*flex*/